# Mac os ignore
.DS_Store

# uv specific python things to ignore
.venv/
__pycache__/
*.pyc

# Generated ingestion output
data/generated_facts.fx
data/platforms.fx
data/raw/*
!data/raw/.gitkeep
.uv-cache/
